<!--Footer Information-->
<footer>
    <div class="left-side">
      <img src="assets/new-logo.png" alt="Website Logo">
      <h2>Vision Statement</h2>
      <p>"Empowering seamless automotive care."</p> 
    </div>
    <div class="browse">
      <h2>Browse</h2>
      <ul>
        <li>About Us</li>
        <li>Services</li>
        <li>Car Products</li>
        <li>Appointment</li>
      </ul>
    </div>
    <div class="contact">
      <h2>Contact Us</h2>
      <ul>
        <li>Message Us</li>
        <li>1-888-536-5263</li>
        <li>info@noblejamaica.com</li>
        <li>Noble Auto Repairs</li>
      </ul>
    </div>
    <div class="socials">
        <ul>
      <li><img src="assets/instagram.png" alt="Instagram logo"></li>
      <li><img src="assets/twitterx.png" alt="twitter x logo"></li>
      <li><img src="assets/facebook.png" alt="facebook f logo"></li>
    </ul>
    </div>
    <div class="below">
      <div class="copyright">
        <p>© Noble Auto Repairs. All rights reserved.</p>
      </div>
      <div class="policy-terms">
        <p>Privacy & Policy</p>
        <p>Terms and Conditions</p>
      </div>
    </div>
  </footer>
  
