.reminders-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  transform: translate(120px, -620px);
  height: fit-content;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.appointments-table {
  width: 100%;
  border-collapse: collapse;
  
}

.appointments-table th, .appointments-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.appointments-table th {
  background-color: #f4f4f4;
}

.error-message {
  color: red;
  text-align: center;
}

.btn {
  padding: 5px 10px;
  margin-right: 5px;
  display: flex;
}

.btn-success {
  width: 70px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.btn-primary {
  width: 70px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}
.btn-danger {
  width: 70px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.btn-success:hover, .btn-primary:hover {
  opacity: 0.8;
}
