<!-- update-password-dialog.component.html -->

<div class="dialog-container">
    <h2>Update Password</h2>
<form #updatePasswordForm="ngForm" (ngSubmit)="dialogRef.close(updatePasswordForm)">
  <div>
    <label for="oldPassword">Old Password</label>
    <input type="password" id="oldPassword" name="oldPassword" ngModel required>
  </div>
  <div>
    <label for="newPassword">New Password</label>
    <input type="password" id="newPassword" name="newPassword" ngModel required>
  </div>
  <div>
    <button type="button" (click)="closeModal()">Cancel</button>
    <button type="submit">Update</button>
  </div>
</form>
</div>
