.history-container {
    width: 80%;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .history-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead th {
    background-color: #feca39;
    color: black;
    padding: 10px;
    text-align: left;
  }
  
  tbody td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #ddd;
  }
  
  .payments-button {
    display: block;
    width: 20%;
    margin: 0 auto;
    padding: 10px;
    background-color: #feca39;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .payments-button:hover {
    background-color: #dfa019;
  }
  
  .no-data-message {
    text-align: center;
    color: #888;
    font-size: 18px;
  }
  
  .cancel-btn{
    border-radius: 20px;
    padding: 5px;
    background-color: #f7c375;
    margin: 0 auto;
  }