<app-header></app-header>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<div class="button-position">
    <a routerLink="/create-service"><button class="create-button">Create a new Service</button></a>
</div>
<div class="card-container">
    <div class="card" *ngFor="let service of pagedServices">
        <div class="card-header">
            <h3>ID: {{ service.service_id }}</h3>
            <div class="actions">
                <a><i class="bi bi-pencil-square"></i></a>
                <a (click)="openDeleteConfirmationDialog(service.service_id, service.service_name, service.price)"><i class="bi bi-trash-fill"></i></a>
            </div>
        </div>
        <div class="card-body">
            <p><strong>Service Name:</strong> {{ service.service_name }}</p>
            <p><strong>Description:</strong> {{ service.description }}</p>
            <p><strong>Price:</strong> {{ service.price }}</p>
        </div>
    </div>
</div>
<div class="pagination-controls">
    <button *ngFor="let pageNumber of getPageNumbers()" (click)="pageChanged(pageNumber)"
      [class.active]="pageNumber === currentPage">
      {{ pageNumber }}
    </button>
  </div>


