<app-header></app-header>
    <div id="tsparticles"></div>
    <main class="box">
        <h2>Edit Information</h2>
        <form (ngSubmit)="updateProduct(editProductForm)" #editProductForm="ngForm">
            <div class="input-row">
            <div class="inputBox">
                <label for="product_name">Product Name</label><br>
                <input type="text" id="product_name" name="product_name" [(ngModel)]="formData.product_name" required />
            </div>
          <div class="inputBox">
                <label for="price">Price</label><br>
                <input type="text" id="price" name="price" [(ngModel)]="formData.price" required />
            </div></div>          
              <div class="inputBox">
                <label for="description">Description</label> <br>
                <textarea type="text" id="description" name="description" [(ngModel)]="formData.description" required ></textarea>
            </div>
            <div class="inputBox">
                <label for="img" class="form-label">Upload Image</label><br>
                <input type="file" id="img" name="img" class="form-control" accept="image/*" (change)="onFileSelected($event)"  required>
            </div>
            <button type="submit">Update Product</button>
        </form>
        
        <div *ngIf="!hasData">
            <h2 style="margin-top: -250px; font-family: Bebas Neue; font-size: 35px; color: rgb(8, 56, 8);">Nothing to Update!</h2>
        </div>
        <div *ngIf="hasError" class="error-message">
            <p>Error updating. Try again!</p>
        </div>
    </main>
    <footer>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/tsparticles@1.34.1/tsparticles.min.js"
        integrity="sha256-D6LXCdCl4meErhc25yXnxIFUtwR96gPo+GtLYv89VZo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/particles.js"></script>

