<app-header></app-header>
<!--Displays Admin Details-->
<div class="main-container" *ngIf="hasData">
    <div class="content">
      <div class="container card">
        <div class="card-right">
          <h1>Your Account Details</h1>
          <div class="admin-info">
            <span id="first_name" class="first_name">{{ admin.f_name }}</span>
          </div>
          <div class="admin-info">
            <span id="last_name" class="last_name">{{ admin.l_name }}</span>
          </div>
          <div class="admin-info">
            <span id="email" class="email">{{ admin.email }}</span>
          </div>
          <!--Open dialog boxes based on customer choice-->
          <div class="button-group">
            <button class="btn btn-delete" (click)="openDeleteConfirmationDialog(admin.admin_id, admin.f_name,admin.l_name)" >Delete admin Account</button>
            <button class="btn btn-update" (click)="openUpdatePasswordDialog(admin.admin_id)">Update Password</button>
          </div>
        </div>
      </div>
    </div>
  </div>
