/* dashboard.component.css */
* {
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
  }
    
/* Dashboard Container */
.dashboard-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
  }
  
  /* Dashboard Header */
  .dashboard-header {
    background-color: #1f3f49; /* Dark Grey */
    color: #fff; /* White */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  /* Logo */
  .logo img {
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  /* Search Bar */
  .search-bar input {
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
  }
  
  /* User Dropdown */
  .user-dropdown {
    position: relative;
  }
  
  .user-icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 50px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333; /* Dark Grey */
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content a {
    color: #fff; /* White */
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #555; /* Dark Grey (Hover) */
  }
  
  .user-dropdown:hover .dropdown-content {
    display: block;
  }
  
 /* Sidebar Navigation */
.sidebar {
    background-color: #1f3f49;
    color: #fff; /* White */
    padding-top: 20px;
    width: 15%;
    height: 90vh; /* Set height to 100% of viewport height */
    display: flex;
    flex-direction: column;
    
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px; /* Add spacing at the top */
  }
  
  .sidebar ul li {
    padding: 20px;
  }

  .sidebar i {
    margin-right: 5px;
  }
  
  .sidebar ul li a {
    color: #fff; /* White */
    text-decoration: none;
  }
  
  .sidebar a:hover {
    background-color: #d32d41; /* dark red (Hover) */
    border-radius: 5px; /* Add some rounded corners on hover */
    width: 15%;
    padding: 5px;
  }
  
  /* Main Content */
  .dashboard-content {
    flex-grow: 1;
    padding: 20px;
    transform: translate(90px,-550px);
    

  }
  
  .statistics-container {
    display: flex;
    justify-content: space-around;
  }
  
  .statistic-card-1 {
    background-color: #a5d8dd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    color: #1f3f49;
    transform: translateX(100px);
  }

  .statistic-card-2 {
    background-color: #4cb5f5;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    color: #1f3f49;
    transform: translateX(20px);
   
  }
  
  .statistic-card-3 {
    background-color: #0091d5;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    color: #1f3f49;
    transform: translateX(-50px);
   
  }
  .statistic-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .search-bar i{
    margin-left: 20px;
  }