<header class="dashboard-header">
    <div class="logo">
      <!-- Logo Image -->
      <img src="assets/noble-logo.png" alt="Logo" >
    </div>
    <div class="search-bar">
      <!-- Search bar implementation -->
            <input type="text" placeholder="Search..." class="search-input" [(ngModel)]="searchQuery">
      <button class="search-button" (click)="onSearch()"><i class="bi bi-search"></i></button>
      
    </div>
    <div class="user-dropdown">
      <!-- User dropdown -->
      <span class="user-icon">
        <!-- User Icon -->
        <img src="assets/user-logo.png" alt="User Icon">
      </span>
      <div class="dropdown-content">
        <!-- Dropdown Content -->
        <a href="#">Edit Account</a>
        <a href="#">View Info</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </header>

  <!-- Sidebar Navigation -->
  <nav class="sidebar">
    <ul>
      <li> <i class="bi bi-speedometer"></i><a routerLink="/dashboard">Dashboard</a></li>
      <li><i class="bi bi-chat-left"></i><a routerLink="/messages">Messages</a></li>
      <li><i class="bi bi-gear"></i><a routerLink="/services-controls">Services Controls</a></li>
      <li><i class="bi bi-tags-fill"></i><a routerLink="/products-controls">Products Controls</a></li>
      <li><i class="bi bi-bar-chart"></i><a routerLink="/revenue-reports">Revenue Reports</a></li>
      <li><i class="bi bi-bell"></i><a routerLink="/reminders">Send Reminders</a></li>
      <li><i class="bi bi-person-badge"></i><a routerLink="/admins">Admins</a></li>
    </ul>
  </nav>
  
