<div class="search-results" *ngIf="searchQuery">
    <h2>Search Results for "{{ searchQuery }}"</h2>
    <ul>
      <li *ngFor="let result of searchResults">
        <div (click)="viewDetails(result.type, result.id)">
          <ng-container *ngIf="result.type === 'product'">
            <img [src]="'http://localhost:2400/uploads/products/' + result.img" alt="{{ result.name }}">
          </ng-container>
          <ng-container *ngIf="result.type === 'service'">
            <img [src]="'http://localhost:2400/uploads/services/' + result.img" alt="{{ result.name }}">
          </ng-container>
          <span>{{ result.name }}</span>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="!searchQuery">
    <p>No search query provided.</p>
  </div>
  <div class="back-button">
    <button routerLink="/">Back</button>
  </div>
  