<!--Login Form for admins-->
<div class="container">
    <div class="login-logo">
      <img src="assets/main-logo.png" alt="Business Logo">
    </div>
    <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" ngModel required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" ngModel required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
  
