<app-header-main></app-header-main>
<div>
<img src="assets/banner.jpg" alt="mechanic checking engine" class="banner"  id="banner">
<div class="banner-overlay"></div>
</div>
<div class="info">
    <div class="info-item">
        <h2>Mechanic</h2>
        <p>Expert repairs for your vehicle's mechanical issues.</p>
    </div>
    <span class="vertical-bar">|</span>
    <div class="info-item">
        <h2>Products</h2>
        <p>Quality car parts and accessories for every need.</p>
    </div>
    <span class="vertical-bar">|</span>
    <div class="info-item">
        <h2>Locations</h2>
        <p>Convenient service locations near you for easy access.</p>
    </div>
</div>
<div class="search-section"></div>


