<app-header-main></app-header-main>
<div class="banner-section">
    <h1>Fast and Easy Way to </h1>
    <h1 class="second-element"> Service Your Car!</h1>
    <a routerLink="/services"><button class="service-btn">Book Service!</button></a>
    <a routerLink="/products"><h2>Product & Parts</h2></a>
<img src="assets/banner.jpg" alt="mechanic checking engine" class="banner"  id="banner">
<div class="banner-overlay"></div>
</div>
<div class="info">
    <div class="info-item">
        <h2>Mechanic</h2>
        <p>Expert repairs for your vehicle's mechanical issues.</p>
    </div>
    <span class="vertical-bar">|</span>
    <div class="info-item">
        <h2>Products</h2>
        <p>Quality car parts and accessories for every need.</p>
    </div>
    <span class="vertical-bar">|</span>
    <div class="info-item">
        <h2>Locations</h2>
        <p>Convenient service locations near you for easy access.</p>
    </div>
</div>
<div class="search-section">
    <!-- Left side: Search bar -->
    <div class="search-bar">
      <input type="text" placeholder="Search..." class="search-input" [(ngModel)]="searchQuery">
      <button class="search-button" (click)="onSearch()">Search</button>
    </div>
    <div class="divider"></div>
    <!-- Right side: Dropdowns -->
    <div class="dropdowns">
      <div class="dropdown-list">
        <label for="products-dropdown">Products:</label>
        <select id="products-dropdown">
          <option value="" disabled selected>Please Select</option>
          <option value="option1">Car Detergents</option>
          <option value="option2">Car Mats and Seat Covers</option>
          <option value="option3">Dash Covers</option>
        </select>
      </div>
      <div class="dropdown">
        <label for="services-dropdown">Services:</label>
        <select id="services-dropdown">
          <option value="" disabled selected>Please Select</option>
          <option value="option1">Cleaning</option>
          <option value="option2">Packages </option>
          <option value="option3">Denting & Painting</option>
        </select>
      </div>
      <div class="dropdown">
        <label for="pricing-dropdown">Locations:</label>
        <select id="pricing-dropdown">
          <option value="" disabled selected>Please Select</option>
          <option value="option1">Montego Bay</option>
          <option value="option2">Ocho Rios</option>
          <option value="option3">New Kingston</option>
        </select>
      </div>
    </div>
  </div>
  <div class="info-2">
    <div class="section">
        <h2>How We Do it?</h2>
        <p>Book your maintenance and repair online hassle free.</p>
        <p class="centered">It's Safe and Convenient.</p>
    </div>
    <div class="images">
        <div class="location">
            <img src="assets/location-pin.png" alt="Location Pin Image">
            <h3>Choose Location</h3>
        </div>
        <div class="appointment">
            <img src="assets/appointment-calendar.png" alt="Calendar Image">
            <h3>Set Appointment and Pay</h3>
        </div>
        <div class="drop-off">
            <img src="assets/car-image.png" alt="Car Image">
            <h3>Drop off your car</h3>
        </div>
    </div>
</div>

<app-footer></app-footer>